.header{
    display: flex;
    justify-content: space-between;
    height: 100px;
}
.image-header{
    width: 70px;
    height: 70px;
    margin-left: 20px;
    border-radius: 15px;
}


.menu{
    margin-right: 20px;
}
.image-user{
    vertical-align: middle;
    height: 50px;
    width: 50px;
    border-radius: 20px;
}
.menu ul{
    display:none;
    list-style: none;
    margin-top: 5px;
}
.menu:hover ul{
    display:block;
}
.menu a{
    text-decoration: none;
    color: white;
}
.menu a:hover{
    text-decoration: underline;
    margin: 5px 0; 
}
.menu span{
    color: white;
}